.btn-section {
	float: left;
	width: 33.3333%;
	text-align: center;
	margin-top: 40px;
}

#controller {
	@include clearfix;
	.serif-subhead {
		display: inline-block;
	}

	h2 {
		margin-top: 10px;
		display: block;
	}
}
