.btn-section {
	float: left;
	width: 33.3333%;
	text-align: center;
	margin: 40px 0 80px;
}

#controller {
	@include clearfix;

	.serif-subhead {
		display: inline-block;
	}

	h2 {
		margin-top: 10px;
		display: block;
	}
}

%btn-icon-bg {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 95px;
	min-height: 95px;	
}

#rotate-right {
	@extend %btn-icon-bg;
	background-image: url('../images/control-right.png');
}

#rotate-left {
	@extend %btn-icon-bg;
	background-image: url('../images/control-left.png');
}

#power-up {
	@extend %btn-icon-bg;
	background-image: url('../images/control-pwr.png');
	min-width: 105px;
	min-height: 106px;	
}