body {
	color: #FFF;
	background-color: $water;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	padding: 2%;
	width: 100%;
	box-sizing: border-box;

	&.player1 {
		background-color: $p1;
	}
}

$drop-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);

.bmp-logo {
	margin-right: 15px;
}
