.step {
	display: inline-block;
	border-radius:(50%);
	background-color: $p2;
	border: 3px solid $p2-accent;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 2px;
	box-sizing: border-box;
	vertical-align: top;
	margin-bottom: 20px;
}

.step-section {
	width: 100%;
	margin-top: 40px;
}

input {
	height: 40px;
	width: 80%;
	box-shadow: $drop-shadow;
}

.player-box {
	width: 43%;
	float: left;
	margin: 0 20px 20px 0;
	text-align: center;
	box-sizing: border-box;
	box-shadow: $drop-shadow;

	&.selected {
		filter: grayscale(70%);
		-webkit-filter: grayscale(70%);
		opacity: 0.8;
	}

	img {
		margin: 10px 0;
	}
}

.p1 {background-color: $p1; border: 3px solid $p1-accent;}
.p2 {background-color: $p2; border: 3px solid $p2-accent;}
.p3 {background-color: $p3; border: 3px solid $p3-accent;}
.p4 {background-color: $p4; border: 3px solid $p4-accent;}

.reset-btn {
	color: #FFF;
	background-color: $p2;
	padding: 10px;
	text-decoration: none;
	border: 3px solid $p2-accent;
	display: inline-block;
	box-shadow: $drop-shadow;
	margin-top: 30px;
}

